<div style="display:flex; flex-flow: row wrap; justify-content:space-evenly">
	<app-card style="margin-bottom: 15px; padding-botton: 15px"></app-card>
	<app-card style="margin-bottom: 5px; padding-botton: 5px"></app-card>
	<app-card style="margin-bottom: 5px; padding-botton: 5px"></app-card>
	<app-card style="margin-bottom: 5px; padding-botton: 5px"></app-card>
	<app-card style="margin-bottom: 5px; padding-botton: 5px"></app-card>
	<app-card style="margin-bottom: 5px; padding-botton: 5px"></app-card>
	<app-card style="margin-bottom: 5px; padding-botton: 5px"></app-card>
	<app-card style="margin-bottom: 5px; padding-botton: 5px"></app-card>
	<app-card style="margin-bottom: 5px; padding-botton: 5px"></app-card>
	<app-card style="margin-bottom: 5px; padding-botton: 5px"></app-card>
</div>
